@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.slick-arrow {
  display: none !important;
}

.slick-arrow {
  display: none !important;
}

.react-responsive-3d-carousel__indicators {
  box-shadow: none !important;
  text-shadow: none !important;
}

.react-responsive-3d-carousel__status {
  display: none !important;
}
